@use '../abstracts';
.auth{
    display: flex;
    min-height: 100vh;

    @supports (-webkit-touch-callout: none){
        min-height: -webkit-fill-available;
    }

    &__intro, &__content{
        flex: 1;
        padding: 0 30px;  
    }

    &__intro{
        @include abstracts.flexCenter('center', 'center');
        flex-direction: column;
        row-gap: 50px;
        background-color: var(--auth-intro-bg);

        @include abstracts.screen(md){
            padding: 80px 30px 50px;
        }

        &-text{
            width: 85%;
            text-align: center;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.4444;
            color: var(--content-color);

            @include abstracts.screen(md){
                font-size: 1.5rem;
            }
        }

        &-img{
            width: min(424px, 100%);
        }
    }

    &__content{
        background-color: var(--auth-content-bg);
        color: var(--content-color);
        transition: transform .5s ease; 

        @include abstracts.screen(md){
            position: fixed;
            inset: 0;
            z-index: 1;
            transform: translateX(100%);
            overflow-y: auto;
        }

        &-inner{
            width: min(460px, 100%);
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 50px 0;

            @include abstracts.screen(md){
                padding: 32px 0;
            }
        }

        & .logo__title{
            color: var(--logo-color);
        }
    }

    &__heading{
            font-size: 3rem;
            font-weight: 500;
            line-height: 1.47;
            margin: 50px 0 10px;

            @include abstracts.screen(md){
                font-size: 2.2rem;
            }
    }

    &__desc{
        padding: 0 16px;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.47;
        text-align: center;
        color: var(--desc-auth-color);

         @include abstracts.screen(md){
                font-size: 1.4rem;
        }
    }

    &__form{
        margin-top: 60px;

         @include abstracts.screen(md){
                margin-top: 30px;
        }

        &-forgot{
            margin-top: 20px;
        }
    }

    &__link{
        color:#0071DC;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.47;

         @include abstracts.screen(md){
                font-size: 1.4rem;
        }

        &-sign-in{
            font-size: 1.8rem;
            
            @include abstracts.screen(md){
                font-size: 1.6rem;
            }
        }

    }

    &__text{
        color: var(--desc-auth-color);
    }

    &__message{
        margin-top: 30px;
    }
}

.form{
    &:has(:invalid) &__submit-btn{
        opacity: 0.5;
        pointer-events: none;
    }
    width: 100%;

    &-text__input{
        @include abstracts.flexCenter('center', null);
        padding: 12px;
        border-radius: 10px;
        border: 1px solid hsl(252, 6%, 83%);
        height: 50px;
        width: 100%;

         @include abstracts.screen(md){
               height: 48px;
        }
    }

    &__input{
        flex: 1;
        height: 26px;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.4444;
        padding-right: 4px;
        background-color: transparent;

         @include abstracts.screen(md){
                font-size: 1.6rem;
        }
    }

     &__input::placeholder{
        color: var(--input-auth-text-color);
     }

    &__input-icon{
        width: 24px;
    }

    &__input-error{
        width: 24px;
        display: none;
        animation: shake .5s;
    }

    &__group{
        &-actions{
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            row-gap: 30px;
        }
    }

    &__group:has(:invalid):has(&__input:not(:placeholder-shown)){
        .form__input-icon{
            display: none;
        }

        .form__error,
        .form__input-error{
            display: block;
        }

        .form-text__input{
            border-color: red;
            background-color: rgba($color: red, $alpha: 0.1);
        }
    }
    &__group ~ &__group{
        margin-top: 30px;

         @include abstracts.screen(md){
                margin-top: 20px;
        }
    }

    &__group-inline{
        @include abstracts.flexCenter('center', 'space-between');
    }

    &__checkbox{
        &:checked ~ .form__checkbox-label::after{
            content: "";
            width: 12px;
            height: 7px;
            border-bottom: 2px solid #9E9DA8;
            border-left: 2px solid #9E9DA8;
            position: absolute;
            top: 5px;
            left: -24px;
            rotate: -45deg;
        }
    }
    &__checkbox-label{
        font-size: 1.5rem;
        color: var(--desc-auth-color);
        position: relative;

         @include abstracts.screen(md){
                font-size: 1.4rem;
        }

        &::before{
            content: "";
            width: 20px;
            height: 20px;
            background-color: transparent;
            border-radius: 6px;
            border: 2px solid #9E9DA8;
            position: absolute;
            top: 0;
            left: -28px;
        }
    }

    &__bottom{
        margin-top: 108px;
        @include abstracts.flexCenter('center', 'center');
        column-gap: 10px;

         @include abstracts.screen(md){
                margin-top: 58px;
        }
    }

    &__error{
        text-align: left;
        margin-top: 10px;
        color: red;
        font-size: 1.4rem;
        font-weight: 500;
        display: none;
    }
}

.checkbox-group{
    padding-left: 28px;
}

.dots{
    align-items: center;
    column-gap: 13px;
}

.dot{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--dot-bg-color);

    &--active{
        background-color: #B9BABE;
    }
}

.auth__content-sign-in{
    transform: translateX(0);
}


