@use '../abstracts';
.auth{
    display: flex;
    min-height: 100vh;

    @supports (-webkit-touch-callout: none){
        min-height: -webkit-fill-available;
    }

    &__intro, &__content{
        flex: 1;
        padding: 0 30px;  
    }

    &__intro{
        @include abstracts.flexCenter('center', 'center');
        flex-direction: column;
        row-gap: 50px;
        background-color: var(--auth-intro-bg);

        @include abstracts.screen(md){
            padding: 80px 30px 50px;
        }

        &-text{
            width: 85%;
            text-align: center;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.4444;
            color: var(--content-color);

            @include abstracts.screen(md){
                font-size: 1.5rem;
            }
        }

        &-img{
            width: min(424px, 100%);
        }
    }

    &__content{
        background-color: var(--auth-content-bg);
        color: var(--content-color);
        transition: transform .5s ease; 

        @include abstracts.screen(md){
            position: fixed;
            inset: 0;
            z-index: 1;
            transform: translateX(100%);
            overflow-y: auto;
        }

        &-inner{
            width: min(460px, 100%);
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 50px 0;

            @include abstracts.screen(md){
                padding: 32px 0;
            }
        }

        & .logo__title{
            color: var(--logo-color);
        }
    }

    &__heading{
            font-size: 3rem;
            font-weight: 500;
            line-height: 1.47;
            margin: 50px 0 10px;

            @include abstracts.screen(md){
                font-size: 2.2rem;
            }
    }

    &__desc{
        padding: 0 16px;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.47;
        text-align: center;
        color: var(--desc-auth-color);

         @include abstracts.screen(md){
                font-size: 1.4rem;
        }
    }

    &__form{
        margin-top: 60px;

         @include abstracts.screen(md){
                margin-top: 30px;
        }

        &-forgot{
            margin-top: 20px;
        }
    }

    &__link{
        color:#0071DC;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.47;

         @include abstracts.screen(md){
                font-size: 1.4rem;
        }

        &-sign-in{
            font-size: 1.8rem;
            
            @include abstracts.screen(md){
                font-size: 1.6rem;
            }
        }

    }

    &__text{
        color: var(--desc-auth-color);
    }

    &__message{
        margin-top: 30px;
    }
}

.auth-form{
    width: 100%;
    
    &__input-icon{
        width: 24px;
    }    
}

.checkbox-group{
    padding-left: 28px;
}

.dots{
    align-items: center;
    column-gap: 13px;
}

.dot{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--dot-bg-color);

    &--active{
        background-color: #B9BABE;
    }
}

.auth__content-sign-in{
    transform: translateX(0);
}

