@use '../abstracts';
.home{
    &__container{
        margin-top: 40px;
        @include abstracts.screen(md){
            margin-top: 30px;
        }
    }

    &__heading{
        color: var(--home-heading-color);
        font-size: 2.4rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.42;
        margin-bottom: 20px;
    }
}