@use '../abstracts';
html.dark{
  // Home page
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7492%) hue-rotate(172deg) brightness(106%) contrast(102%);

    --body-bg: #292E39;
    --header-bg-color: #171C28;
    --top-act-group-bg-color: #292E39;
    --top-act-separate-bg-color: #EDEDF6;
    --top-act-group-shadow: rgba(0, 0, 0, 0.20);
    
    --dropdown-bg-color: #2f3441;
    --dropdown-arrow-bg-color: brightness(0) saturate(100%) invert(17%) sepia(7%) saturate(1780%) hue-rotate(186deg) brightness(103%) contrast(91%);
    --dropdown-shadow: rgba(23, 28, 40, 0.4); 
    --top-menu-link-color: #B9BABE;

    --top-menu-main-border-color: #171C28;
    --menu-column-icon-color: brightness(0) saturate(100%) invert(93%) sepia(6%) saturate(1255%) hue-rotate(286deg) brightness(112%) contrast(97%);

    --home-heading-color: #fff;

    --cate-item-img-bg: #292E39;
    --cate-item-bg: #171C28;
    --cate-item-bg-md: #171C28;

    --filter-btn-bg: #171C28;
    --filter-color: #fff;
    --product-item-bg: #171C28;
    --product-item-shadow: rgba(0, 0, 0, 0.20);
    --like-btn-bg: #292E39;
    --like-btn-shadow: rgba(124, 124, 124, 0.20);
    --product-item-color: #fff;

    --filter-bg: #292E39;
    --filter-shadow: rgba(0, 0, 0, 0.40);
    --arrow-up-bg: brightness(0) saturate(100%) invert(11%) sepia(6%) saturate(2957%) hue-rotate(184deg) brightness(93%) contrast(81%);
    --form-label-color: #fff;
    --circle-filter-bg: #292E39;
    --filter-tag-bg: #171C28;
    --select-text-color: #fff;

    --footer-bg: #171C28;
    --footer-heading-color: #fff;
    --footer-text-color: #B9BABE;

    
    // Sign up page
    --auth-intro-bg: #171C28;
    --auth-content-bg:#292E39;
    --content-color: #B9BABE;
    --logo-color: #fff;
    --icon-light-color: brightness(0) saturate(100%) invert(82%) sepia(4%) saturate(176%) hue-rotate(191deg) brightness(91%) contrast(91%);
    --dot-bg-color: #292E39;
    
    // Product page
    --product-page-bg: #292E39;
    --breadcrumbs-bg: #171C28;
    --breadcrumbs-shadow: rgba(23, 28, 40, 0.20);
    --prod-info-color: #eee;
    --prod-info-bg: #171C28;
    --prod-prop-desc: #eee;
    --search-bar-bg: #171C28;
    --product-content-item-bg: #171C28;
    --card-preview-thumb-bg: #272c36;
    --cart-info-color: #B9BABE;

    // Act dropdown
    --act-dropdown-bg: #292E39;
    --act-dropdown-shadow: rgba(23, 28, 40, 0.40);
    --act-dropdown-color: #B9BABE;
    --act-dropdown-bottom-border: #171C28;
    --cart-preview-item-thumb-bg: #272c36;

    // Checkout page
     --breadcrumbs-checkout-bg: #171C28;
     --cart-info-bg: #171C28;
     --cart-info-shadow: rgba(23, 28, 40, 0.20);
     --text-input-border: #292E39;


    
    @include abstracts.screen(lg){
      --header-shadow: rgba(0, 0, 0, 0.20);
      --sidebar-bg-color: #292E39;
      --sidebar-text-color: #B9BABE;
      --sidebar-shadow: rgba(23, 28, 40, 0.40);
      --icon-dark-color: brightness(0) saturate(100%) invert(79%) sepia(7%) saturate(105%) hue-rotate(188deg) brightness(92%) contrast(95%);
      --prod-block-bg: #171C28;
      --breadcrumbs-bg: #171C28;

  }
}
