@use '../abstracts';
.cate-item{
    height: 100%;
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding: 20px;
    background-color: var(--cate-item-bg);
    border-radius: 16px;

    @include abstracts.screen(xl){
        flex-direction: column;
        row-gap: 16px;
    }

      @include abstracts.screen(md){
        flex-direction: row;
        background-color: var(--cate-item-bg-md);
    }

    &:hover &__thumb{
        scale: 1.1;
    }

    &__thumb{
        width: 100px;
        height: 100px;
        object-fit: contain;
        background-color: var(--cate-item-img-bg);
        border-radius: 8px;
        transition: scale .3s ease;

        @include abstracts.screen(md){
            width: 88px;
            height: 88px;
        }
    }

    &__title{
        font-size: 2.2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.4546;
        margin-bottom: 6px;

        @include abstracts.screen(md){
           font-size: 1.8rem;
        }
    }

    &__desc{
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;

        @include abstracts.screen(md){
           font-size: 1.4rem;
           line-height: 1.42857;
        }
    }
}