@use '../abstracts';

.form{
     &__label{
        color: var(--form-label-color);
        font-size: 2.2rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.45455;
        display: block;

         &--small{
                font-size: 1.4rem;
                line-height: 1.42875;
                margin-bottom: 10px;
        }
    }

     &__select-wrap{
            margin-top: 20px;
            display: flex;
            padding: 5px 14px;
            background-color: transparent;
            border-radius: 6px;
            border: 1px solid #D2D1D6;
            height: 45px;
            column-gap: 14px;
        }

        &__select{
            color: var(--select-text-color);
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.42875;
            background-color: transparent;
        }

        &__select:first-child{
            width: 109px;
            @include abstracts.screen(xl){
               flex: 1;
            }
        }

        &__select:last-child{
            width: 80px;
            @include abstracts.screen(xl){
               flex: 1;
            }
        }

         &__tags{
            display: flex;
            column-gap: 20px;
            margin-top: 20px;
        }

        &__tag{
            color: #9E9DA8;
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.42875;
            padding: 6px 12px;
            border-radius: 6px;
            background-color: var(--form-tag-bg);

            &:hover {
                cursor: pointer;
                color: #333;
            }
        }

}

.select-separate{
    width: 1px;
    background-color: #D2D1D6;
}
