@use '../abstracts';

.form{
    width: 100%;
      &__bottom{
        margin-top: 108px;
        @include abstracts.flexCenter('center', 'center');
        column-gap: 10px;

         @include abstracts.screen(md){
                margin-top: 58px;
        }
    }

    &:has(:invalid) &__submit-btn{
        opacity: 0.5;
        pointer-events: none;
    }

    &__group-inline{
        @include abstracts.flexCenter('center', 'space-between');
    }

    &-text__area,
    &-text__input{
        padding: 12px;
        border-radius: 10px;
        border: 1px solid hsl(252, 6%, 83%);
        width: 100%;

        &--small{
            border-radius: 8px;
        }
    }

    &-text__area{
        height: 100px;
        &-input{
            width: 100%;
            resize: none;
        }
    }

    &-text__input{
        position: relative;
        @include abstracts.flexCenter('center', null);
        @include abstracts.screen(md){
               height: 48px;
        }

        &--small{
            height: 42px;
        }
    }

    &-dialog__heading{
        font-weight: 600;
        font-size: 1.8rem;
        padding: 14px;
        text-align: center;
    }

    &__select-dialog{
        position: absolute;
        bottom: 44px;
        left: 10px;
        background-color: var(--modal-bg);
        box-shadow: var(--cart-info-shadow);
        border-radius: 10px;
        border: 1px solid var(--text-input-border);
        max-height: 310px;
        min-width: 230px;
        display: flex;
        flex-direction: column;
        translate: 0 8px;
        transition: opacity, visibility, translate;
        transition-duration: .2s;
        visibility: hidden;
        opacity: 0;

        @include abstracts.screen(sm){
            position: fixed;
            inset: 0;
            max-width: initial;
            max-height: initial;
            z-index: 1;
            border-radius: 0;
        }

        &.show{
            visibility: visible;
            opacity: 1;
            translate: 0;
        }
    }

    &__search{
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--text-input-border);
        padding: 0 20px 0;
        height: 38px;
        flex-shrink: 0;

        @include abstracts.screen(lg){
            height: 42px;
        }

         @include abstracts.screen(sm){
           margin: 10px 20px 0;
           border: 1px solid var(--text-input-border);
           border-radius: 10px;
           padding: 0 14px;
        }

        &-input{
            flex: 1;
            padding-right: 6px;
            height: 100%;
            font-size: 1.6rem;
            background-color: transparent;
            color: var(--text-color);

            &::placeholder{
                color: var(--text-color);
            }
        }

        &-icon{
            width: 16px;
        }
    }

    &__options-list{
        margin-top: 8px;
        flex: 1;
        overflow-y: auto;
        font-size: 1.4rem;
        overscroll-behavior: contain;
    }

    &__close-dialog{
        font-size: 3rem;
        position: absolute;
        right: 0;
        top: 0;
        padding: 2px 18px;
        opacity: 0.8;
    }

    &__option{
        padding: 8px 20px;

        @include abstracts.screen(lg){
            padding: 14px 20px;
        }

        &--active{
           background-color: rgba($color: #ffb700, $alpha: 0.6);
           font-weight: 500;
        }

        &:not(&--active):hover{
        background-color: var(--option-hover-bg);
        cursor: pointer;
    }
    }

    &__input,
    &-text__area-input{
        width: 100%;
        height: 100%;
        flex: 1;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.4444;
        background-color: transparent;
        @include abstracts.screen(md){
                font-size: 1.6rem;
        }
    }

    &__row{
        display: flex;
        column-gap: 30px;

        @include abstracts.screen(sm){
            flex-direction: column;
        }

        > *{
            flex: 1;
        }

        @include abstracts.screen(md){
            column-gap: 20px;
        }
    }

    &__input{
        padding-right: 4px;
    }

     &-text__area-input::placeholder,
     &__input::placeholder{
        color: var(--input-auth-text-color);
     }
     
      &__input-error{
        width: 24px;
        display: none;
        animation: shake .5s;
    }

    &__group{
        margin-top: 30px;

        @include abstracts.screen(md){
                margin-top: 20px;
        }

        &-actions{
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            row-gap: 30px;
        }
    }

    &__group:has(:invalid):has(&__input:not(:placeholder-shown)){
        .form__input-icon{
            display: none;
        }

        .form__error,
        .form__input-error{
            display: block;
        }

        .form-text__input{
            border-color: red;
            background-color: rgba($color: red, $alpha: 0.1);
        }
    }

     &__label{
        color: var(--form-label-color);
        font-size: 2.2rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.45455;
        display: block;

         &--small{
                font-size: 1.4rem;
                line-height: 1.42875;
                margin-bottom: 10px;
        }
    }

     &__select-wrap{
            margin-top: 20px;
            display: flex;
            padding: 5px 14px;
            background-color: transparent;
            border-radius: 6px;
            border: 1px solid #D2D1D6;
            height: 45px;
            column-gap: 14px;
        }

        &__select{
            color: var(--select-text-color);
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.42875;
            background-color: transparent;
        }

        &__select:first-child{
            width: 109px;
            @include abstracts.screen(xl){
               flex: 1;
            }
        }

        &__select:last-child{
            width: 80px;
            @include abstracts.screen(xl){
               flex: 1;
            }
        }

         &__tags{
            display: flex;
            column-gap: 20px;
            margin-top: 20px;
        }

        &__tag{
            color: #9E9DA8;
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.42875;
            padding: 6px 12px;
            border-radius: 6px;
            background-color: var(--form-tag-bg);

            &:hover {
                cursor: pointer;
                color: #333;
            }
        }

        &__error{
        text-align: left;
        margin-top: 10px;
        color: red;
        font-size: 1.4rem;
        font-weight: 500;
        display: none;
    }
    
        &__checkbox{
        &:checked ~ .form__checkbox-label::after{
            content: "";
            width: 12px;
            height: 7px;
            border-bottom: 2px solid #9E9DA8;
            border-left: 2px solid #9E9DA8;
            position: absolute;
            top: 5px;
            left: -24px;
            rotate: -45deg;
        }
    }

    &__checkbox-label{
        font-size: 1.5rem;
        color: var(--desc-auth-color);
        position: relative;

         @include abstracts.screen(md){
                font-size: 1.4rem;
        }

        &::before{
            content: "";
            width: 20px;
            height: 20px;
            background-color: transparent;
            border-radius: 6px;
            border: 2px solid #9E9DA8;
            position: absolute;
            top: 0;
            left: -28px;
        }
    }
}

.select-separate{
    width: 1px;
    background-color: #D2D1D6;
}
