<div class="container">
    <div class="footer__row">
        <div class="footer__col">
            <!-- Logo -->
            <a href="./" class="logo">
                <img src="./assets/icons/logo.svg" alt="logo" class="logo__img">
                <h1 class="logo__title">grocerymart</h1>
            </a>
            <p class="footer__desc">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque nisi iste sapiente perspiciatis culpa
                placeat unde facilis enim dicta quam.
            </p>
            <p class="footer__desc">
                Receive product news and updates
            </p>
            <form action="#!" class="footer__form">
                <input type="text" class="footer__form-input" placeholder="Enter your email..." required
                    spellcheck="false">
                <button type="submit" class="btn btn--primary footer__form-submit">SEND</button>
            </form>
        </div>
        <div class="footer__col">
            <h2 class="footer__heading">SHOP</h2>
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="#!" class="footer__link">All Departments</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Fashion Deals</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Electronics Discount</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Home & Living Specials</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Beauty Bargains</a>
                </li>
            </ul>
        </div>
        <div class="footer__col">
            <h2 class="footer__heading">SUPPORT</h2>
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="#!" class="footer__link">Store Locator</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Order Status</a>
                </li>
            </ul>
        </div>
        <div class="footer__col">
            <h2 class="footer__heading">COMPANY</h2>
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="#!" class="footer__link">Customer Service</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Term of Use</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Privacy</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Careers</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">About</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">CA Supply Chains Act</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Sustainability</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Affiliates</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Recall Info</a>
                </li>
            </ul>
        </div>
        <div class="footer__col">
            <h2 class="footer__heading">CONTACT</h2>
            <ul class="footer__list">
                <li class="footer__item">
                    <p class="footer__label">Email</p>
                        <a href="mailto:contact@grocerymart.com" class="footer__link">contact@grocerymart.com</a>
                </li>
                <li class="footer__item">
                    <p class="footer__label">Hotline</p>
                        <a href="tel:855-909-8267" class="footer__link">855-909-8267</a>
                </li>
                <li class="footer__item">
                    <p class="footer__label">Address</p>
                    <p class="footer__text">1588 South Coast Dr Costa Mesa, CA 92626</p>
                </li>
                <li class="footer__item">
                    <h3 class="footer__label">Hours</h3>
                    <p class="footer__text">M - F 6:00am - 8:00pm PST</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer__bottom">
        <p class="copy-right">© 2010 - 2025 Grocery Mart. All rights reserved.</p>
        <div class="footer__socials">
            <a href="#!" class="footer__social footer__social--facebook">
                <img src="../assets/icons/fb.svg" alt="fb" class="footer__social-img">
            </a>
            <a href="#!" class="footer__social footer__social--youtube">
                <img src="../assets/icons/yt.svg" alt="youtube" class="footer__social-img">
            </a>
            <a href="#!" class="footer__social footer__social--tiktok">
                <img src="../assets/icons/tiktok.svg" alt="tiktok" class="footer__social-img">
            </a>
            <a href="#!" class="footer__social footer__social--linkedin">
                <img src="../assets/icons/linkedin.svg" alt="linkedin" class="footer__social-img">
            </a>
            <a href="#!" class="footer__social footer__social--twitter">
                <img src="../assets/icons/twitter.svg" alt="twitter" class="footer__social-img">
            </a>
        </div>
    </div>
</div>